@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}

.navbar.sticky {
    padding: 15px 0;
    background: rgb(10, 151, 207);
    box-shadow: 0px 1px 5px 0;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    transition: .3s;
    text-decoration: none;
}

.navbar .logo a:hover span {
    color: #fff;
}

.navbar .logo a span {
    color: skyblue;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/bg.jpg) center/cover no-repeat;
    height: 50vh;
    position: relative;
}


/* menu btn styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 5px 0 #000;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

.title {
    width: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    color: #fff;
    text-shadow: -1px 1px #000;
}

.overall {
    width: 80%;
    margin: auto;
}

.main {
    width: 70%;
    float: left;
    padding: 20px;
}

.sidebar {
    float: left;
    padding: 20px;
    background: #f4f4f4;
    width: 30%;
}

.list {
    margin-left: 50px;
    padding: 10px 0 30px 0;
}

.list-desc img {
    width: 100%;
    height: 90%;
    margin-bottom: 70px;
}

@media screen and (max-width: 891px) {
    .main {
        width: 100%;
    }
    .list {
        margin-left: 0;
    }
    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .overall {
        width: 100%;
    }
}