@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 80%;
    margin: auto;
    background-color: rgb(238, 238, 238);
}

.container-all {
    width: 90%;
    background: #fff;
    padding: 30px 30px 0 30px;
    box-shadow: 0 0 15px -10px;
}

.logo {
    margin-bottom: 50px;
    cursor: pointer;
}

.logo h1 {
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(44, 44, 44);
    font-weight: 700;
}

.logo span {
    color: rgb(12, 161, 161);
}

.navlist {
    width: 100%;
    background: #000;
    display: flex;
}

.navlist ul {
    float: left;
}

.navlist ul li {
    list-style: none;
    float: left;
}

.navlist ul li a {
    float: left;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #000;
    transition: .2s ease;
    font-weight: 400;
}

.navlist ul li a:hover {
    background: rgb(26, 25, 25);
    border-color: rgb(12, 161, 161);
}

.navlist ul li .active {
    background: rgb(26, 25, 25);
}

.direction {
    display: flex;
    background: rgb(235, 232, 232);
    padding: 10px 20px;
    font-size: 12px;
}

.direction ul {
    display: flex;
}

.direction ul li {
    list-style: none;
}

.direction ul li a {
    color: #555;
    text-decoration: none;
    transition: .2s;
}

.direction ul li a:hover {
    color: rgb(12, 161, 161);
}

.container {
    width: 100%;
    padding: 50px 0;
}

.main .img {
    width: 70%;
    height: 400px;
}

.desc .p {
    font-size: 13px;
    color: #555;
}

.desc img {
    width: 70%;
    height: 400px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile p:hover {
    color: #000;
}

.info {
    margin-top: 50px;
    width: 70%;
}

.info p {
    text-indent: 40px;
    margin-bottom: 30px;
}

.info li {
    color: #555;
}

.guide {
    background: rgb(243, 249, 250);
    padding: 30px;
    margin-bottom: 50px;
}

.related {
    width: 250px;
    padding: 10px;
    background: rgb(243, 249, 250);
    border: 1px solid rgb(191, 212, 219);
    margin: 40px 0;
}

.related p {
    text-align: center;
    margin: 10px 0;
}

.related ol {
    margin: 0 0 0 20px;
    font-size: 13px;
}

.related ol li a {
    font-size: 13px;
    color: rgb(12, 161, 161);
    transition: .3s ease;
}

.related ol li a:hover {
    color: #000;
}

.footer {
    margin-top: 200px;
    text-align: center;
    color: #000;
}

@media screen and (max-width: 983px) {
    .main .img {
        width: 100%;
    }
    .info {
        width: 100%;
    }
    .desc img {
        width: 100%;
    }
    .profile img {
        width: 30px;
    }
}

@media screen and (max-width: 622px) {
    .logo h1 {
        font-size: 30px;
        text-align: center;
    }
}